* {
    background-color: cornflowerblue;
}
.animated {
    width: 800px;
    height: 75px;
    background: #92B901;
    color: #ffffff;
    position: relative;
    font-weight: bold;
    font-size: 70px;
    padding: 10px;
    animation: animated 5s 1;
    border-radius: 5px;
    margin-top: 300px; 
}

@keyframes animated {
0% {
    transform: rotate(0deg);
    left: 0px;
  }
  25% {
    transform: rotate(20deg);
    left: 0px;
  }
  50% {
    transform: rotate(0deg);
    left: 500px;
  }
  55% {
    transform: rotate(0deg);
    left: 500px;
  }
  70% {
    transform: rotate(0deg);
    left: 500px;
    background: #1ec7e6;
  }
  100% {
    transform: rotate(-360deg);
    left: 0px;
  }
}